<div class="div-global">
    
    <div class="results-summary-container" id="div-center">
    <div class="confetti">
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
    </div>
    <div class="results-summary-container__result">
      <div class="heading-tertiary">Welcome to AUM</div>
      <div class="result-box">
        <div class="heading-primary"></div>
        <p class="result">{{fullName}} </p>
      </div>
      <div class="result-text-box">
        <div class="heading-secondary">Glad you're here!</div>
        <p class="paragraph">
            Wishing you an enjoyable experience
        </p>
      </div>
      <div class="summary__cta">
        <button class="btn btn__continue" (click)="onStart()">Let's Start
      </button>
      </div>
    </div>
  </div></div>
