<main>
    <div class="table">
        <div class="table_header">
            <h4>Academic Year Management</h4>
            <div style="display: flex;">
              <!-- <input placeholder="search..." /> -->
                <button routerLink="/Add-AcademicYear" class="add_new"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Closure Date</th>
                        <th>Final Closure Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let academic of academicYears | paginate:{itemsPerPage: pageSize, currentPage: currentPage}">
                        <td>{{academic.academic_year_id}}</td>
                        <td>{{academic.academic_year_title}}</td>
                        <td>{{academic.academic_year_ClosureDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{academic.academic_year_FinalClosureDate | date : 'yyyy-MM-dd'}}</td>
                        <td>
                            <!-- <button routerLink=""><i class="fa-solid fa-eye"></i></button> -->
                            <button [routerLink]="['/Update-AcademicYear', academic.academic_year_id]" routerLinkActive="router-link-active"><i class="fa-solid fa-pen-to-square"></i></button>
                            <!-- <button (click)="deleteAcademic(academic.academic_year_id)"><i class="fa-solid fa-trash"></i></button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="currentPage=$event" variant="Circular"></pagination-controls>
            </div>
        </div>
    </div>
  </main>
