<body>
    <div class="container">
      <header>
      <h1 class="heading-1">About Us</h1>
      <div class="sub-heading">
        <!-- <p>Saterday, <span>june 26, 2021</span></p>
        <p class="importent">your right to know</p> -->
      </div>
      </header>
  
      <div class="main">
        <div class="home">
          <div class="left">
            <img src="/assets/img/c.jpg" class="home-img" alt="Paper photo">
  
            <h2 class="heading-2">
              Welcome to AUM (Annual University Magazine)!
            </h2>
          </div>

        </div>

      </div>
    </div>
  
    <blockquote class="blockquote-aboutus">

      <p>We are a hub for sharing, organizing, and managing articles efficiently. At AUM, we understand that managing and accessing textual resources is an essential part of research, learning, and work. With that mission in mind, we've built a multifunctional platform to help you organize and manage articles smartly and easily.</p>

      <p>At AUM, you'll discover useful features such as:</p>
  
      <ul>
          <li><strong>Efficient organization</strong>: Sort articles by categories, labels, and tags for easy search and access.</li>
          <li><strong>Convenient sharing</strong>: Share articles with colleagues, friends, or partners easily and quickly.</li>
          <li><strong>Notes and comments</strong>: Create notes and comments directly on articles to capture your thoughts and ideas.</li>
          <li><strong>Cross-platform integration</strong>: Use across multiple devices and different browsers, from desktop to mobile.</li>
      </ul>
  
      <p>We are committed to providing the best user experience and always listen to feedback from the community. Let's create a vibrant community and grow together with AUM!</p>
  
      <p>If you have any questions or suggestions, please feel free to contact us at [+817951699].</p>
  
      <p>Thank you for choosing AUM as your destination for article management!</p>
    </blockquote>
  
  </body>