
.pagination{
    float: right; 
  }
main{
    overflow: hidden;
}

h4{
    margin-top: 8px;
    color: #ff014fff;
    font-weight: 600;
}

.table{
    width: 100%;
}

.table_section{
    height: 500px;
    overflow: auto;
}

.table_section table th{
    word-break: keep-all;
}

.table_section table td{
    word-break: break-word;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(122, 13, 152);
}

.table_header p{
    color: #000000;
}

/* Button Download */
.Btn {
    margin-top: 10px;
    position: relative;
    width: 150px;
    height: 37.33px;
    border-radius: 45px;
    border: none;
    background-color: #ff014fff;
    color: white;
    box-shadow: 0px 10px 10px rgb(236, 134, 165) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px #ff014fff inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Btn::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgb(236, 134, 165);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
  }
  
  .Btn::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgb(236, 134, 165);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
  }
  
  .Btn:hover {
    animation: jello-horizontal 0.9s both;
  }
  
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  

/* Button */
button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    /* margin-left: 5px; */
    padding: 10px;
}

td button:nth-child(1){
    background-color: rgb(6, 222, 93);
    color: white;
    margin: 3px;
}

td button:nth-child(1):hover{
    background-color: rgb(39, 249, 123);
}

td button:nth-child(2){
    background-color: #0298cf;
    color: white;
    margin: 3px;
}

td button:nth-child(2):hover{
    background-color: #3cc9fd
}

td button:nth-child(3){
    background-color: #ff014fff;
    color: white;
    margin: 3px;
}

td button:nth-child(3):hover{
    background-color: rgb(255, 120, 120);
}


/* Download */
.div-button{
    margin-top: 10px;
    margin-left: 5px;
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.div-selected{
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#select-option{
    width: 100%;
    margin-left: 5x;
    margin-bottom: 10px;
    text-align: center;
}

.download-button{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    width: 260px;
    border: 1px solid red !important;
    padding: 3px 5px 3px 5px;
}


#btn-readMore{
    width: 100%;
    height: 37.33px;
    border-color: #ff014fff;
    color: #ff014fff;
    transition: box-shadow 0.3s ease;
    user-select: none;
    border-radius: 5px;
}

#btn-readMore:hover{
    border-color: #ff014fff;
    color: #ff014fff;
    /* background-color: #ff014fff; */
    box-shadow: 0 0px 7px #ff014fff;
}

.button-reject{
    background-color: #b51c2b !important;
    width: 98.34px;
}
.button-approve{
    background-color: rgb(6, 222, 93) !important;
    width: 98.34px;
}
.button-waiting{
    background-color: rgb(110 132 119) !important;
}
.button-private{
    color: white;
    background-color: #dc3545 !important;
    width: 98.34px;
}
.button-public{
    background-color: rgb(39, 249, 123) !important;
    width: 98.34px;
}


.button-private1{
    color: white;
    background-color: #dc3545 !important;
    width: 98.34px;
}
.button-public1{
    background-color: rgb(39, 249, 123) !important;
    width: 98.34px;
}


.button-reject:hover{
    background-color: #dc3545 !important;
    box-shadow: 0 0 10px #dc3545 ;
}
.button-approve:hover{
    background-color: rgb(39, 249, 123) !important;
    box-shadow: 0 0 10px rgb(39, 249, 123);
}
/* .button-private:hover{
    background-color: rgb(39, 249, 123) !important;
    box-shadow: 0 0 10px rgb(39, 249, 123);
} */
/* .button-public:hover{
    background-color: #dc3545 !important;
    box-shadow: 0 0 10px #dc3545;
} */

/* .button-fail::before{
    content: 'Fail';
}
.button-pass::before{
    content: 'Pass';
} */
.button-private::before{
    content: 'Private';
}
.button-public::before{
    content: 'Public';
}

.button-private1:hover{
    background-color: rgb(39, 249, 123) !important;
    box-shadow: 0 0 10px rgb(39, 249, 123);
}

.button-public1:hover{

    background-color: #dc3545 !important;
    box-shadow: 0 0 10px #dc3545 ;
}


.button-private1::before{
    content: 'Private';

}
.button-public1::before{
    content: 'Public';
}

/* .button-fail:hover::before{
    content: 'Pass';
}
.button-pass:hover::before{
    content: 'Fail';
} */

.button-private1:hover::before{
    content: 'Public';
}
.button-public1:hover::before{
    content: 'Private';
}


.add_new{
    padding: 10px 20px;
    color: #ffffff;
    background-color: #ff014fff;
}

.add_new:hover{
    background-color: rgba(221, 19, 79, 0.774);
    font-size: 16px;
}

input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    color: black;
}

.table_section{
    height: 500px;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

.public{
    display: flex;

}

.public p{
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    color: red;
}

.public .public-p1{
    margin-left: 10px;
    margin-left: 5px;
    text-shadow: 1px 1px 1px #430056
}

.public .public-p2{
    margin-left: 10px;
    color: rgb(8, 2, 2) !important;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

td img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ced0d2;
}

tr:hover td{
    color: #ff014fff;
    cursor: pointer;
    background-color: #f6f9fc;
}

/* .pagination{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
}

.pagination div{
    padding: 10px;
    border: 2px solid #d5d0d0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff014fff;
    color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    margin: 0 5px;
}

.pagination div i{
    background-color: #ff014fff;
    color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
} */


::placeholder{
    color: black;
}

::-webkit-scrollbar{
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
