<!-- footer -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>AUM</h3>
            <p>
              Tra Noc <br>
              Binh Thuy <br>
              Can Tho <br>
            </p>
            <strong>Phone:</strong> +817951699 <br>
            <strong>Email:</strong> aum@gmail.com <br>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Usefull Links</h4>
           <ul>
            <li><a href="#">Home</a></li>
            <li><a routerLink="/About-Us">About Us</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policey</a></li>
           </ul>
          </div>



         

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Famous Brands</h4>

           <ul>
            <li><a href="#">Apple</a></li>
            <li><a href="#">SamSung</a></li>
            <li><a href="#">Xiaomi</a></li>
            <li><a href="#">Oppo</a></li>
            <li><a href="#">Vivo</a></li>
           </ul>
          </div> -->

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with us on social media to stay updated and engage with our community:</p>

            <div class="socail-links mt-3">
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-skype"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>AUM</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer>
  <!-- footer -->
<!-- 
<i class="fa-brands fa-facebook-messenger" id="message"></i> -->


