<main>
    <div class="container">
        <form [formGroup]="resetPasswordForm">
          <div class="title">Reset Password</div>

          <div style="display: flex;" class="input-box underline" [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')">
            <input class="fill" type="{{type}}" formControlName="password" placeholder="New Password" required />
            <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px;"></span>
            <div class="underline"></div>
          </div>

          <div style="display: flex;" class="input-box underline" [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')">
            <input class="fill" type="{{type}}" formControlName="confirmPassword" placeholder="Confirm Password" required />
            <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-top: 21px; margin-right: 10px;"></span>
            <div class="underline"></div>
          </div>


          <div class="input-box button">
            <button style="background-color: #ff014fff;" type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="reset()">Reset</button>
          </div>
        </form>

      </div>
  </main>
