<main>
    <div class="container">
        <div class="title">Create Account</div>
        <div class="content">
          <form [formGroup]="createForm">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Username</span>
                <input formControlName="user_username" type="text" placeholder="Enter your username" required>
                <small *ngIf="createForm.controls['user_username'].dirty && createForm.hasError('required', 'user_username')" class="text-danger">*Username is required</small>
              </div>

              <div class="input-box">
                <span class="details">Email</span>
                <input formControlName="user_email" type="text" placeholder="Enter your email" required>
                <!-- <small *ngIf="createForm.controls['user_email'].dirty && createForm.hasError('required', 'user_email')" class="text-danger">*Email is required</small> -->
                <small *ngIf="createForm.controls['user_email'].dirty && createForm.hasError('required', 'user_email'); else emailFormat
                "class="text-danger">*Email is required</small>

              <ng-template #emailFormat>
                <small *ngIf="createForm.controls['user_email'].dirty && createForm.hasError('pattern', 'user_email')"
                  class="text-danger">*Email is incorrect format. Please enter again</small>
              </ng-template>
              </div>

              <div class="input-box">
                <span class="details">Password</span>
                <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 5px;">
                  <input style="border: none;" formControlName="user_password" type="{{type}}" placeholder="Enter your password" required>
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-right: 10px;"></span>
                </div>
                <small *ngIf="createForm.controls['user_password'].dirty && createForm.hasError('required', 'user_password')" class="text-danger">*Password is required</small>
              </div>

              <div class="input-box">
                <span class="details">Confirm Password</span>
                <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 5px;">
                  <input style="border: none;" formControlName="user_confirmPassword" type="{{type}}"  placeholder="Confirm your password" required>
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}" style="margin-right: 10px;"></span>
                </div>
                <small *ngIf="createForm.controls['user_confirmPassword'].dirty && createForm.hasError('required', 'user_confirmPassword')" class="text-danger">*confirm Password is required</small>
              </div>

              <div class="input-box" >
                <select (change)="onSelectFaculty($event)" formControllName="user_faculty" id="select-option" class="form-select" aria-label="Default select example" style="width: 300px; height: 45px; margin-top: 28px; border: 1px solid #ccc;">
                    <option selected>Choose Faculty</option>
                    <option *ngFor="let f of lstFaculties" value="{{f.faculty_id}}">{{f.faculty_name}}</option>
                </select>
                <small *ngIf="createForm.controls['user_faculty'].dirty && createForm.hasError('required', 'user_faculty')" class="text-danger">*Faculty is required</small>
              </div>

              <div class="input-box">
                <select (change)="onSelectRole($event)" formControllName="user_role" id="select-option" class="form-select" aria-label="Default select example" style="width: 300px; height: 45px; margin-top: 28px; border: 1px solid #ccc;">
                    <option selected>Choose Role</option>
                    <option *ngFor="let r of lstRoles" value="{{r.role_id}}">{{r.role_name}}</option>
                </select>
                <small *ngIf="createForm.controls['user_role'].dirty && createForm.hasError('required', 'user_role')" class="text-danger">*Role is required</small>
              </div>

              <!-- <div class="input-box" >
                <label for="birthday" style="font-weight: 500; color: var(--grey-color); margin-top: 5px;">Birthday:</label>
                <input formControlName="user_birthday" type="date" id="birthday" name="birthday" required>
                <small *ngIf="createForm.controls['user_birthday'].dirty && createForm.hasError('required', 'user_birthday')" class="text-danger">*Birthday is required</small>
              </div> -->

          </div>

            <!-- <div class="gender-details">
              <span style="font-weight: 500; color: var(--grey-color);">Gender</span><br>
              <div style="display: flex;">
                <input formControlName="user_gender" type="radio" value="Male" style="margin-right: 10px;"> <p style="margin-top: 13px; margin-right: 45px;">Male</p>
                <input formControlName="user_gender" type="radio" value="Female" style="margin-right: 10px;"><p style="margin-top: 13px; margin-right: 45px;">Female</p>
                <input formControlName="user_gender" type="radio" value="Prefer not to say" style="margin-right: 10px;"> <p style="margin-top: 13px; margin-right: 45px;">Other</p>
              </div>
            </div>
            <small *ngIf="createForm.controls['user_gender'].dirty && createForm.hasError('required', 'user_gender')" class="text-danger">*Gender is required</small> -->

            <div class="button">
              <input type="submit" value="Create" (click)="onCreate()">
            </div>
          </form>
        </div>
      </div>
  </main>
